/* Start Variables */
:root {
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --main-color-2: #3f51b5;
    --main-color-2-alt: #071a82;
}
    /* End Variables */
    /* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Work Sans", sans-serif;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
    padding: 0;
}
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-track {
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main-color-2);
}
::-webkit-scrollbar-thumb:hover {
    background-color: var(--main-color-2-alt);
}
.scroll-up{
    position: fixed;
    right: -100px;
    bottom: 30px;
    background-color: #3f51b5;
    padding: 13px 16px;
    color: #eee;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size: 20px;
}
.scroll-up.show{
    right: 20px;
}
.dark .scroll-up{
    background-color: #97a2de;
}
*:focus{
    outline: none;
}
input{
    caret-color: var(--main-color-2);
}
textarea{
    caret-color: var(--main-color-2);
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
header .container .click{
    height: 72px;
    display: flex;
    align-items: center;
}
@media (max-width: 767px){
    header .container .click{
        height: 0;
    }
}
label{
    border-left: 2px solid #3f51b5;
    margin-left: 20px;
}
@media (max-width: 415px){
    label{
        border-left: none;
        margin-left: 0;
        margin-top:  -10px;
    }
}
.dark label{
    border-left: 2px solid #97a2de;
}
@media (max-width: 415px){
    .dark label{
        border-left: none;
        margin-left: 0;
    }
}
label .toggle-checkbox{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    display: flex;
    align-items: center;
    margin: auto 0;
}
label .toggle-switch{
    margin-left: 20px;
    background-image: url(../images/summer-3.jpeg);
    background-size: cover;
    width: 86px;
    height: 36px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    position: relative;
    cursor: pointer;
}
@media (max-width: 415px){
    label .toggle-switch{
        width: 76px;
        height: 26px;
    }
}
label .toggle-switch::before{
    font-family: "Font Awesome 6 Free";
    content: "\f699";
    font-weight: 900;
    background-color: white;
    width: 30px;
    position: absolute;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 4px;
    top: 2.9px;
    color: #ccc;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
@media (max-width: 415px){
    label .toggle-switch::before{
        width: 20px;
        height: 20px;
    }
}
label .toggle-checkbox:checked + .toggle-switch {
    background-image: url(../images/summer-4.jpeg);
    background-size: cover;
}
label .toggle-checkbox:checked + .toggle-switch::before {
    color: var(--main-color-2);
    left: 50px;
    content: "\f185";
}
.dark h2{
    color: #97a2de;
}
.dark h2::before{
    background-color: #636363;
}
.dark h2::after{
    background-color: #97a2de;
}
h2{
    font-size: 40px;
    color: var(--main-color-2);
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto 90px;
}
h2::before{
    content: "";
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #eee;
    left: 0;
    bottom: -15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
h2::after{
    content: "";
    position: absolute;
    height: 4px;
    width: 50%;
    background-color: #3f51b5;
    left: 0;
    bottom: -15px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* End Global Rules */
/* Start Header */
/* Start Dark mode */
.dark header{
    background: linear-gradient(to left, rgb(49, 48, 48) , #242424);
    box-shadow: 0 0 10px #1c1b1b;
}
.dark header .container h5{
    color: #97a2de;
}
.dark header .toggle-menu span{
    background-color: #97a2de;
}
.dark header nav ul.opne {
    background-color: #1c1b1b;
}
.dark header .container ul li:hover{
    background-color: #1e1e1e15;
}
.dark header .container ul li a{
    color: #97a2de;
}
.dark header .container ul li:hover a{
    color: #6a74ab;
}
.dark header .container ul li a:hover{
    color: #6a74ab;
}
.dark header .container ul li a::before{
    background-color: #97a2de;
}
/* End Dark Mode */
header {
    position: fixed;
    top: 0;
    background: linear-gradient(to left, white , #eee);
    box-shadow: 0 0 10px #ddd;
    width: 100%;
    z-index: 3;
}
@media (max-width: 767px){
    header{
        padding: 10px;
    }
}
header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}
header .container h5{
    color: var(--main-color-2);
    font-size: 24px;
    font-weight: bold;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
@media (max-width: 1200px){
    header .container h5{
        margin: auto;
    }
}
@media (max-width: 767px){
    header .container h5{
        height: 32px;
    }
}
@media (max-width: 415px){
    header .container h5{
        font-size: 14px;
    }
}
header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .toggle-menu{
    background: none;
    border: none;
    width: 25px;
    cursor: pointer;
    display: none;
}
header .toggle-menu:focus{
    outline: none;
}
header .toggle-menu span{
    display: block;
    margin-bottom: 4px;
    height: 3px;
    background-color: #3f51b5;
}
header .toggle-menu.burger span:nth-child(1){
    transform: rotate(50deg) translate(8px);
    -webkit-transform: rotate(50deg) translate(8px);
    -moz-transform: rotate(50deg) translate(8px);
    -ms-transform: rotate(50deg) translate(8px);
    -o-transform: rotate(50deg) translate(8px);
    background-color: rgb(239, 61, 61);
}
header .toggle-menu.burger span:nth-child(3){
    transform: rotate(-50deg) translate(8px);
    -webkit-transform: rotate(-50deg) translate(8px);
    -moz-transform: rotate(-50deg) translate(8px);
    -ms-transform: rotate(-50deg) translate(8px);
    -o-transform: rotate(-50deg) translate(8px);
    background-color: rgb(239, 61, 61);
}
header .toggle-menu.burger span:nth-child(2){
    opacity: 0;
}
header nav ul {
    display: flex;
}
@media (max-width: 767px){
    header .toggle-menu{
        display: block;
    }
}
@media (max-width: 767px){
    header nav ul {
        display: none;
    }
    header nav ul.opne {
        background-color: #eee;
        display: block;
        position: absolute;
        left: 0;
        top: calc(100% + 20px);
        width: 100%;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
}
header nav ul li a{
    display: inline-block;
    margin: 10px 0;
}
}
@media (min-width: 768px){
    header .container ul li a{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
header .container ul li a{
    color: var(--main-color-2);
    height: 72px;
    padding: 0 25px;
    font-size: 18px;
    position: relative;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    overflow: hidden;
}
header .container ul li a::before{
    background-color: var(--main-color-2);
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    position: absolute;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
header .container ul li a:hover{
    color: var(--main-color-2-alt);
}
@media (max-width: 767px){
    header .container ul li{
        transition: 0.3s;
        -webkit-transition: 0.3s;
        -moz-transition: 0.3s;
        -ms-transition: 0.3s;
        -o-transition: 0.3s;
}
    header .container ul li:hover a{
        color: #071a82;
}
    header .container ul li:hover{
        background-color: #dddcdc37;
        padding-left: 15px;
    }
}
header .container ul li a:hover::before{
    width: 100%;
}
@media (max-width: 767px){
    header .container ul li a:hover::before{
        width: 0;
    }
}
/* End Header */
/* Start Contact */
/* Start Dark Mode */
.dark .contact{
    background: linear-gradient(145deg, #242424, #161616);
}
.dark .contact .bubbles div:first-child,
.dark .contact .bubbles div:nth-child(2),
.dark .contact .bubbles div:nth-child(3),
.dark .contact .bubbles div:nth-child(4),
.dark .contact .bubbles div:nth-child(5),
.dark .contact .bubbles div:nth-child(6),
.dark .contact .bubbles div:last-child{
    background: linear-gradient(to left , #3c3939a4 , #242424);
}
.dark .contact .container .info::before{
    background: linear-gradient(to top , #97a2de , #6879db);
}
.dark .contact .container span{
    color: white;
}
.dark .contact .container span > span{
    color: #97a2de;
}
.dark .contact .container h3{
    color: #97a2de;
    border-right: 2px solid #97a2de;
}
.dark .contact .container p{
    color: white;
}
.dark .contact .container .icons i{
    background:  linear-gradient(145deg, rgba(63, 111, 193, 0.064), rgba(68, 130, 237, 0.155));
    box-shadow: 5px 5px 15px #242424, -5px -5px 15px #292929;
}
.dark .contact .container .icons i.red{
    background:  linear-gradient(145deg, rgba(239, 61, 61, 0.053), rgba(188, 83, 83, 0.126));
}
.dark .contact .container a.about-me{
    background-color: #97a2de;
    color: #e7e2e2;
}
.dark .contact .container a.about-me:hover{
    color:  #97a2de;
    border: 1px solid  #97a2de;
    background-color: #242424;
}
/* End Dark Mode */
.contact {
    position: relative;
    background: linear-gradient(to top , #ecf0f3b5 , #3f51b521);
    padding-top: 200px;
    padding-bottom: var(--main-padding-bottom);
    min-height: 100vh;
} 
.contact .bubbles div{
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #3f51b5;
}
.contact .bubbles div:first-child{
    right: 120px;
    bottom: 20px;
    background: linear-gradient(to top , #3f51b58c , #eee);

}
.contact .bubbles div:nth-child(2){
    left: 40px;
    top: 90px;
    background: linear-gradient(to left , rgba(100, 148, 237, 0.47) , #eee);
}
.contact .bubbles div:nth-child(3){
    right: 40px;
    top: 150px;
    background: linear-gradient(to right , 	#ff00ff7a , #eee);
}
.contact .bubbles div:nth-child(4){
    left: 40%;
    top: 400px;
    background: linear-gradient(to left , #ff4400a4 , #eee);
}
.contact .bubbles div:nth-child(5){
    left: 60%;
    top: 100px;
    background: linear-gradient(to left , #DB7093 , #eee);
}
.contact .bubbles div:nth-child(6){
    left: 20%;
    bottom: 100px;
    background: linear-gradient(to left , #ffff00af , #eee);
}
.contact .bubbles div:last-child{
    left: 50%;
    bottom: 80px;
    background: linear-gradient(to bottom , #ffa6009c , #eee);
}
.contact .container {
    display: flex;
    align-items: center;
}
@media (max-width: 767px){
    .contact .container {
        flex-direction: column;
        align-items: center;
    }
    .contact {
        padding-top: 100px;
    }
    .contact .container .info{
        margin-bottom: 80px;
    }
}
@media (max-width: 913px){
    .contact .container {
        flex-direction: column;
    }
    .contact .container .info{
        margin-bottom: 80px;
    }
}
.contact .container .info{
    flex: 1;
    position: relative;
}
.contact .container .info::before{
    content: "";
    position: absolute;
    left: -25px;
    top: 0;
    height: 100%;
    width: 8px;
    border-radius: 5px;
    background: linear-gradient(to top , #3f51b5 , var(--main-color-2-alt));
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.contact .container span{
    display: block;
    display: flex;
    color: black;
    font-size: 29px;
    margin: 0;
}
.contact .container span > span{
    color: #3f51b5;
}
.contact .container h3{
    font-size: 60px;
    color: #3f51b5;
    margin-top: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.543);
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid #3f51b5;
    animation: control-width 3s steps(60) 1s both , blink 0.2s 1s ;
    -webkit-animation: control-width 3s steps(60) 1s both , blink 0.2s 1s ;
}
@keyframes control-width{
    form{
        width: 0;
    }
    to{
        width: 501px;
    }
}
@keyframes blink{
    from{
        border-right-color: #3f51b5;
    }
    to{
        border-right-color: transparent;
    }
}
@media (max-width: 991px){
    .contact .container span{
        font-size: 20px;
    }
    .contact .container h3{
    font-size: 30px;
    }
    @keyframes control-width{
        form{
            width: 0;
        }
        to{
            width: 250px;
        }
    }
    .contact .container p{
        font-size: 18px;
    }
}
@media (max-width: 415px){
    .contact .container h3{
        font-size: 26px;
        }
        @keyframes control-width{
            form{
                width: 0;
            }
            to{
                width: 220px;
            }
        }
}
.contact .container p{
    color: black;
    margin-top: 20px;
    font-size: 30px;
}
.contact .container .icons{
    margin-top: 20px;
    display: flex;
}
.contact .container .icons i{
    font-size: 18px;
    cursor: pointer;
    margin-right: 20px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.contact .container .icons i:hover{
    transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
}
.contact .container .icons i.blue{
    color: rgb(68, 148, 239);
}
.contact .container .icons i.red{
    color: rgb(239, 61, 61);
}
.contact .container a.about-me{
    background-color: #3f51b5;
    display: block;
    width: fit-content;
    color: white;
    font-size: 18px;
    padding: 18px;
    border: none;
    margin-top: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.contact .container a.about-me:hover{
    color:  #6879db;
    border: 1px solid  #6879db;
    background-color: #eee;
}
.contact .container a.about-me:hover i{
    animation: icon 1s linear infinite;
    -webkit-animation: icon 1s linear infinite;
}
@keyframes icon{
    0% , 100%{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
    50%{
        transform: translateY(8px);
        -webkit-transform: translateY(8px);
        -moz-transform: translateY(8px);
        -ms-transform: translateY(8px);
        -o-transform: translateY(8px);
}
}
.contact .container .imge img{
    width: 400px;
    background-size: cover;
    box-shadow: 0 20px 5px rgba(0, 0, 0, 0.2);
    animation: animate 5s ease-in-out infinite;
    -webkit-animation: animate 5s ease-in-out infinite;
    position: relative;
    z-index: 1;
}
@media (max-width: 991px){
    .contact .container .imge img{
        width: 300px;
    }
}
@media (max-width: 415px){
    .contact .container .imge img{
        width: 180px;
    }
}
@keyframes animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
        -webkit-border-radius: 60% 40% 30% 70%/60% 30%;
        -moz-border-radius: 60% 40% 30% 70%/60% 30%;
        -ms-border-radius: 60% 40% 30% 70%/60% 30%;
        -o-border-radius: 60% 40% 30% 70%/60% 30%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60%  
        30% 60%;
        -webkit-border-radius: 30% 60% 70% 40%/50% 60%  30% 60%;
        -moz-border-radius: 30% 60% 70% 40%/50% 60%  30% 60%;
        -ms-border-radius: 30% 60% 70% 40%/50% 60%  30% 60%;
        -o-border-radius: 30% 60% 70% 40%/50% 60%  30% 60%;
} 
    100%{
        border-radius: 60% 40% 30% 70%/60% 30%
        70% 40%;
        -webkit-border-radius: 60% 40% 30% 70%/60% 30%;
        -moz-border-radius: 60% 40% 30% 70%/60% 30%;
        -ms-border-radius: 60% 40% 30% 70%/60% 30%;
        -o-border-radius: 60% 40% 30% 70%/60% 30%;
    }  
}
/* End Contact  */
/* star about */
/* Start Dark Mode */
.dark .about{
    background-color: #161616;
}
.dark .about .container .image-about,
.dark .about .container .image-about::before,
.dark .about .container .image-about::after{
    background: linear-gradient(to left , #97a2de , #4a4a4a);
}
.dark .about .container .info h3{
    color: white;
}
.dark .about .container .info h3 span{
    color: #97a2de;
}
.dark .about .container .info p{
    color: white;
}
.dark .about .container .info hr{
    background-color: #97a2de;
}
@media (max-width: 767px){
    .dark .about .container .info hr{
        background-color: #97a2de;
    }
}
.dark .about .container .info p:last-of-type{
    border-bottom: 1px solid #383838;
}
.dark .about .container .text .first-letter{
    color: #97a2de;
}
.dark .about .container .text > span{
    color: white;
}
.dark .about .container .text > span:not(:last-of-type){
    border-right: 1px solid #383838;
}
@media (max-width: 767px){
    .dark .about .container .text > span:not(:last-of-type){
        border-right: none;
        border-bottom: 1px solid #383838;
    }
}
@media (max-width: 415px){
    .dark .about .container .text > span:not(:last-of-type){
        border-right: none;
        border-bottom: none;
    }
}
@media (max-width: 767px){
    .dark .about .container .info p:last-of-type{
        padding-bottom: 0;
        border-bottom: none;
    }
}
.dark .about .container .info a{
    background-color: #97a2de;
    color: #d9d8d8;
}
.dark .about .container .info a:hover{
    background-color: #5c67a5;
}
.dark .about .container  .boxs .about-me{
    background: linear-gradient(145deg, #2f2f2f, #312e2e);
    box-shadow: 5px 5px 15px #1d1e1f, -5px -5px 15px #2c2929;
    color: white;
}
.dark .about .container  .boxs .about-me::before{
    top: 0;
    left: -100%;
    background: linear-gradient(to left , #97a2de , #282727);
}
.dark .about .container  .boxs .about-me::after{
    bottom: 0;
    right: -100%;
    background: linear-gradient(to right , #97a2de , #282727);
}
.dark .about .container  .boxs .about-me span:first-child{
    color: #97a2de;
}
/* End Dark Mode */
.about{
    background-color: white; 
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}
.about .box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about .container .image-about{
    width: 300px;
    height: 300px;
    background: linear-gradient(to left , #3f51b5a4 , #eee);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    z-index: 1;
}
.about .container .image-about::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: -50px;
    top: 20px;
    background: linear-gradient(to right , #3f51b5a4 , #eee);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.about .container .image-about:hover:before{
    left: 10px;
    top: -30px;
}
.about .container .image-about::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    right: -20px;
    top: -30px;
    background: linear-gradient(to top , #3f51b5a4 , #eee);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
    transition: 0.6s;
    -webkit-transition: 0.6s;
    -moz-transition: 0.6s;
    -ms-transition: 0.6s;
    -o-transition: 0.6s;
}
.about .container .image-about:hover:after{
    left: -40px;
    top: 20px;
}
.about .container .image-about img{
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-12px) translateX(-15px) rotate(-4deg);
    z-index: 2;
    -webkit-transform: translateY(-12px) translateX(-15px) rotate(-4deg);
    -moz-transform: translateY(-12px) translateX(-15px) rotate(-4deg);
    -ms-transform: translateY(-12px) translateX(-15px) rotate(-4deg);
    -o-transform: translateY(-12px) translateX(-15px) rotate(-4deg);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.about .container .image-about:hover img{
    transform: translateY(-12px) translateX(-15px) rotate(4deg);
    -webkit-transform: translateY(-12px) translateX(-15px) rotate(4deg);
    -moz-transform: translateY(-12px) translateX(-15px) rotate(4deg);
    -ms-transform: translateY(-12px) translateX(-15px) rotate(4deg);
    -o-transform: translateY(-12px) translateX(-15px) rotate(4deg);
}
@media (max-width: 991px){
    .about .box{
        flex-direction: column;
    }
    .about .container .image-about{
        width: 150px;
        height: 150px;
        margin: 0 auto 60px;
    }
}
@media (max-width: 767px){
    .about .container .image-about{
        width: 100px;
        height: 100px;
    }
}
.about .container .info{
    width: 600px;
}
@media (max-width: 767px){
    .about .container .info{
        width: 350px;
    }
}
@media (max-width: 415px){
    .about .container .info{
        width: 250px;
    }
}
.about .container .info h3{
    font-size: 31px;
    margin-bottom: 20px;
}
@media (max-width: 767px){
    .about .container .info h3{
        font-size: 17px;
    }
}
.about .container .info h3 span{
    color: var(--main-color-2);
}
.about .container .info p{
    font-size: 18px;
    line-height: 1.6;
}
.about .container .info p:last-of-type{
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 20px;
}
@media (max-width: 767px){
    .about .container .info p:last-of-type{
        padding-bottom: 0;
        border-bottom: none;
    }
}
@media (max-width: 767px){
    .about .container .info p{
        font-size: 14px;
    }
}
.about .container .info hr{
    margin: 10px 0;
    width: 300px;
    height: 2px;
    background-color: var(--main-color-2);
    border: none;
}
@media (max-width: 767px){
    .about .container .info hr{
        height: 2px;
        width: 200px;
    }
}
@media (max-width: 415px){
    .about .container  .text{
        text-align:left;
    }
    .about .container .info hr{
        height: 2px;
        width: 100px;
    }
}
.about .container  .text{
    margin-top: 20px;
    display: flex;
    text-align: center;
}
@media (max-width: 767px){
    .about .container  .text{
        flex-direction: column;
        text-align:left;
    }
}
@media (max-width: 415px){
    .about .container  .text{
        text-align:left;
    }
}
.about .container .text .first-letter{
    color: #3f51b5;
    display: block;
    margin-bottom: 16px;
    font-size: 21px;
}
@media (max-width: 767px){
    .about .container .text .first-letter{
        font-size: 17px;
    }
}
.about .container .text > span{
    font-size: 18px;
    margin-bottom: 30px;
    padding-bottom: 10px;
    position: relative;
    margin-right: 20px;
    padding-right: 20px;
}
@media (max-width: 767px){
    .about .container .text > span{
        font-size: 13px;
    }
}
.about .container .text > span:not(:last-of-type){
    border-right: 1px solid #d8d8d8;
}
@media (max-width: 767px){
    .about .container .text > span:not(:last-of-type){
        border-right: none;
        border-bottom: 1px solid #d8d8d8;
    }
}
@media (max-width: 415px){
    .about .container .text > span:not(:last-of-type){
        border-right: none;
        border-bottom: none;
    }
}
@media (max-width: 767px){
    .about .container  .text > span{
        font-size: 13px;
    }
}
.about .container .info a{
    display: block;
    margin-top: 5px;
    width: fit-content;
    padding: 10px;
    background-color: var(--main-color-2);
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
@media (max-width: 767px){
    .about .container .info a{
        margin: auto;
    }
}
.about .container .info a:hover{
    background-color: var(--main-color-2-alt);
}
.about .container  .boxs{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
}
@media (max-width: 767px){
    .about .container  .boxs{
        flex-direction: column;
    }
}
.about .container  .boxs .about-me{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    margin-left: 25px;
    text-align: center;
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
@media (max-width: 767px){
    .about .container  .boxs .about-me{
        margin-left: 0 auto;
        width: 100%;
    }
}
.about .container  .boxs .about-me::before,
.about .container  .boxs .about-me::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.about .container  .boxs .about-me::before{
    top: 0;
    left: -100%;
    background: linear-gradient(to left , #3f51b5 , #eee);
}
.about .container  .boxs .about-me::after{
    bottom: 0;
    right: -100%;
    background: linear-gradient(to right , #3f51b5 , #eee);
}
.about .container  .boxs .about-me:hover:before{
    left: 0;
}
.about .container  .boxs .about-me:hover:after{
    right: 0;
}
@media (max-width: 767px){
    .about .container  .boxs .about-me{
        margin: 0 auto 30px;
    }
}
.about .container  .boxs .about-me span{
    display: block;
}
.about .container  .boxs .about-me span:first-child{
    font-size: 45px;
    margin: 0;
    color: var(--main-color-2);
}
.about .container  .boxs .about-me span:last-child{
    margin: 20px 0;
}
/* End about */
/* strat Portfolio  */
/* Star Dark Mode */
.dark .education{
    background-color: #161616;
}
.dark .education .container ul::before{
    background: linear-gradient(to top , #97a2de , #4b5696 );
}
.dark .education .container ul li{
    background: linear-gradient(145deg, #2f2f2f, #312e2e);
    box-shadow: 5px 5px 15px #1d1e1f, -5px -5px 15px #2c2929;
    color: white;
}
.dark .education .container ul li:hover{
    background: linear-gradient(to top , #97a2de , #4b5696 );
}
.dark .education .container ul li::before{
    background: linear-gradient(to left , #97a2de , #4b5696 );
    outline-color: #97a2de;
    border-color: #282727;
}
.dark .education .container ul li .icon{
    color: #97a2de;
}
.dark .education .container ul li .text h3::first-letter{
    color: #97a2de;
}
/* End Dark Mode */
.education{
    padding-bottom: var(--main-padding-bottom);
}
.education .container{
    display: flex;
    align-items: center;
}
@media (max-width: 1313px){
    .education .container{
        flex-direction: column;
    }
}
.education .container ul{
    position: relative;
    margin: 0;
}
.education .container ul:last-child{
    margin-left: 80px;
}
@media (max-width: 1313px){
    .education .container ul:last-child{
        margin-left: 0;
    }
}
.education .container ul::before{
    content: "";
    position: absolute;
    width: 2.5px;
    height: 100%;
    left: -20px;
    top: 0;
    border-radius: 10px;
    background: linear-gradient(to top , #3f51b5 , #4963f8 );
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
@media (max-width: 1314px){
    .education .container ul::before{
        display: none;
    }
}
.education .container ul li{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 550px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    overflow: hidden;
}
@media (max-width: 1313px){
    .education .container ul li{
        width: 100%;
        margin: 0 auto 20px;
    }
}
.education .container ul li:hover{
    background: linear-gradient(145deg, #3f51b596, #536aeea7);
    color: white;
}
.education .container ul li:hover .icon{
    color: white;
}
.education .container ul li::before{
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background: linear-gradient(to left , #3f51b5 , #4963f8 );
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -33px;
    z-index: 2;
    border: 2px solid white;
    outline: 2px solid var(--main-color-2);
}
@media (max-width: 1314px){
    .education .container ul li::before{
        display: none;
    }
}
.education .container ul li:first-child::before{
    top: 0;
}
.education .container ul li .icon {
    color: var(--main-color-2);
    margin-top: 0;
    margin-bottom: 10px;
}
.education .container ul li .text h3{
    font-size: 19px;
    margin-bottom: 10px;
}
@media (max-width: 415px){
    .education .container ul li .text h3{
        font-size: 15px;
    }
}
.education .container ul li .text h3::first-letter{
    color: var(--main-color-2);
}
.education .container ul li .text p{
    line-height: 1.6;
    font-size: 17px;
}
@media (max-width: 415px){
    .education .container ul li .text p{
        font-size: 12px;
    }
}
/* End Portfolio  */
/* start Skills */
/* Start Dark Mode */
.dark .skills{
    background-color: #161616;
}
.dark .skills .container .box{
    border-color: #97a2de;
}
.dark .skills .container .box:hover{
    background: linear-gradient(145deg, #2f2f2f, #312e2e);
    box-shadow: 5px 5px 15px #1d1e1f, -5px -5px 15px #2c2929;
}
.dark .skills .container .box .caption{
    background-color: #2f2f2f;
}
.dark .skills .container .box .caption .image{
    background: linear-gradient(145deg, #2f2f2f, #312e2e);
    box-shadow: 5px 5px 15px #1d1e1f, -5px -5px 15px #2c2929;
}
.dark .skills .container .box .caption h3{
    color: #97a2de;
}
.dark .skills .container .box .icon i{
    color: #97a2de;
}
.dark .skills .container .box .bar{
    background-color: #2f2f2f;
}
.dark .skills .container .box .bar > span{
    background: linear-gradient(to left , #3f51b5 , #97a2de );
}
/* End Dark Mode */
.skills{
    padding-bottom: var(--main-padding-bottom);
}
.skills .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 25px;
}
@media (max-width: 767px){
    .skills .container{
        grid-template-columns: repeat(auto-fill , minmax(190px , 1fr));
        margin: 0 auto;
    }
}
.skills .container .box{
    padding: 30px;
    border: 2px solid #3f51b5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    overflow: hidden;
    position: relative;
}
@media (max-width: 767px){
    .skills .container .box{
        height: 90px;
    }
}
.skills .container .box:hover{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border: none;
    padding: 0;
}
.skills .container .box .caption{
    position: absolute;
    padding: 10px;
    height: 100%;
    text-align: center;
    bottom: -400%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    background-color: white;
    width: 100%;
}
.skills .container .box:hover .caption{
    bottom: 0;
}
.skills .container .box .caption .image{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills .container .box .caption img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.skills .container .box .caption h3{
    margin-top: 6px;
    color: #3f51b5;
}
.skills .container .box .icon i{
    color: #3f51b5;
    font-size: 29px;
    margin-right: 10px;
}
.skills .container .box .bar{
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 100%;
    height: 10px;
    background-color: #e1e1e1;
}
.skills .container .box .bar > span{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: linear-gradient(to left , #3f51b5 , #4963f8 );
}
.skills .container .box .bar > span span{
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
    background-color: #3f51b5;
}
.skills .container .box .bar > span span::before{
    content: "";
    border-color: #3f51b5  transparent transparent transparent ;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
/* End start Skills */
/* Start services */
/* Statr Dark Mode */
.dark .services{
    background-color: #161616;
}
.dark .services .container .box{
    background: linear-gradient(145deg, #2f2f2f, #312e2e);
    box-shadow: 5px 5px 15px #1d1e1f, -5px -5px 15px #2c2929;
}
.dark .services .container .box h3{
    color: #97a2de;
}
.dark .services .container .box p{
    color: #cdcbcb;
}
/* End Dark Mode */
.services{
    padding-bottom: var(--main-padding-bottom);
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 25px;
}
@media (max-width: 767px){
    .services .container{
        grid-template-columns: repeat(auto-fill , minmax(190px , 1fr));
        margin: 0 auto;
    }
}
.services .container .box{
    padding: 25px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.services .container .box:hover{
    transform: scale(0.9) rotate(2deg);
    -webkit-transform: scale(0.9) rotate(2deg);
    -moz-transform: scale(0.9) rotate(2deg);
    -ms-transform: scale(0.9) rotate(2deg);
    -o-transform: scale(0.9) rotate(2deg);
}
.services .container .box img{
    width: 150px;
}
.services .container .box h3{
    color: #3f51b5;
    margin-top: 20px;
    font-size: 24px;
}
@media (max-width: 767px){
    .services .container .box h3{
        font-size: 17px;
    }
    .services .container .box p{
        font-size: 13px;
    }
}
.services .container .box p{
    margin-top: 10px;
    line-height: 1.6;
    color: #777;
}
/* End services */
/* Star portfolio */
/* Statr Dark Mode */
.dark .portfolio{
    background-color: #161616;
}
.dark .portfolio .container .box{
    background: linear-gradient(145deg, #2f2f2f, #312e2e);
    box-shadow: 5px 5px 15px #1d1e1f, -5px -5px 15px #2c2929;
}
.dark .portfolio .container .text a::before{
    background-color: #97a2de;
}
/* End Dark Mode */
.portfolio{
    padding-bottom: var(--main-padding-bottom);
}
.portfolio .container{
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));
    gap: 25px;
}
@media (max-width: 767px){
    .portfolio .container{
        grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    }
}
.portfolio .container .box{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .container .box:hover{
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}
.portfolio .container .box::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 0;
    background-color: rgb(0 0 0 / 65%);
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .container .box:hover:before{
    width: 100%;
}
.portfolio .container .box:hover .text{
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.portfolio .container .image img{
    max-width: 100%;
    max-height: 100%;
}
.portfolio .container .text{
    text-align: center;
    position: absolute;
    width: 100%;
    transition: 0.3s;
    color: white;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.portfolio .container .text h3{
    font-size: 55px;
    margin-bottom: 10px;
}
@media (max-width: 767px){
    .portfolio .container .text h3{
        font-size: 35px;
    }
}
.portfolio .container .text a{
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: fit-content;
    padding: 6px 10px;
    margin: auto;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    display: block;
    z-index: 1;
}
.portfolio .container .text a::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: -10000%;
    top: 0;
    background-color: #3f51b5;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    z-index: -1;
}
.portfolio .container .text a:hover:before{
    left: 0;
}
.portfolio .container .text a:hover{
    border: none;
    color: white;
}
/* End portfolio */
/* start contact */
/* Statr Dark Mode */
.dark .Contact{
    background-color: #161616;
}
.dark .Contact .container .box-1{
    background: linear-gradient(145deg, #2f2f2f, #312e2e);
    box-shadow: 5px 5px 15px #1e1f1f, -5px -5px 15px #080808;
}
.dark .Contact .container .box-1 form input[type="text"],
.dark .Contact .container .box-1 form input[type="email"],
.dark .Contact .container .box-1 form input[type="number"],
.dark .Contact .container .box-1 form textarea{
    background: linear-gradient(145deg, #2f2f2f, #312e2e);
    box-shadow: 5px 5px 15px #1d1e1f, -5px -5px 15px #2c2929;
    color: white;
    border: none;
}
.dark .Contact .container .box-1 form h3{
    color: #97a2de;
}
.dark .Contact .container .box-1 form button{
    background: linear-gradient(to left , #3f51b5 , #97a2de , #97a2de);
}
.dark .Contact .container .box-1 form button:hover{
    background: linear-gradient(to right , #3f51b5 , #97a2de , #97a2de);
}
.dark .Contact .container .box-2 h3{
    color: #d8d8d8;
}
.dark .Contact .container .box-2 .info i{
    color: #d8d8d8;
}
.dark .Contact .container .box-2 .info:hover i{
    color: #97a2de;
}
/* End Dark Mode */
.Contact{
    padding-bottom: var(--main-padding-bottom);
    background-image: url(../images/bg_1.jpg.webp);
    background-size: cover;
    position: relative;
    z-index: 0;
}
.Contact::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    background: #000116;
    opacity: .7;
    z-index: -1;
}
.Contact .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(500px , 1fr));
    gap: 25px;
}
@media (max-width: 767px){
    .Contact .container{
        grid-template-columns: repeat(auto-fill , minmax(400px , 1fr));
    }
}
@media (max-width: 560px){
    .Contact .container{
        grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    }
}
@media (max-width: 513px){
    .Contact .container{
        grid-template-columns: repeat(auto-fill , minmax(260px , 1fr));
    }
}
.Contact .container .box-1{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    margin-top: 130px;
    border-radius: 10px;
    text-align: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.Contact .container .box-1 form h3{
    color: #3f51b5;
    font-size: 36px;
    margin: 30px 0 20px;
}
.Contact .container .box-1 form input[type="text"],
.Contact .container .box-1 form input[type="email"],
.Contact .container .box-1 form input[type="number"],
.Contact .container .box-1 form textarea{
    padding: 20px;
    width: 400px;
    border: 1px solid #e2e8ec;
    margin-bottom: 30px;
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
@media (max-width: 767px){
    .Contact .container .box-1 form input[type="text"],
    .Contact .container .box-1 form input[type="email"],
    .Contact .container .box-1 form input[type="number"],
    .Contact .container .box-1 form textarea{
    width: 500px;
}
}
@media (max-width: 560px){
    .Contact .container .box-1 form input[type="text"],
    .Contact .container .box-1 form input[type="email"],
    .Contact .container .box-1 form input[type="number"],
    .Contact .container .box-1 form textarea{
    width: 200px;
}
}
.Contact .container .box-1 form textarea{
    resize: none;
    height: 220px;
}
.Contact .container .box-1 form button{
    background: linear-gradient(to left , #3f51b5 , #4963f8 , #12a4ff);
    display: block;
    margin: 0 auto 26px;
    width: fit-content;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
}
.Contact .container .box-1 form button:hover{
    background: linear-gradient(to right , #3f51b5 , #4963f8 , #12a4ff);
}
.Contact .container .box-2 {
    margin-top: 130px;
    color: white;
    margin-left: auto;
}
@media (max-width: 1200px){
    .Contact .container .box-2 {
        margin-left: 0;
    }
}
@media (max-width: 767px){
    .Contact .container .box-2 {
        margin-top: 30px;
    }
}
.Contact .container .box-2 h3{
    color: white;
    font-size: 36px;
    margin: 30px 0 0;
    text-align: center;
}
.Contact .container .box-2 .info:first-of-type{
    margin-top: 50px;
}
.Contact .container .box-2 .info{
    display: flex;
    align-items: center;
}
.Contact .container .box-2 .info:not(:last-child){
    margin-bottom: 80px;
}
.Contact .container .box-2 i{
    margin-right: 20px;
    font-size: 25px;
}
.Contact .container .box-2 .info:hover i{
    color: #3f51b5;
}
.Contact .container .box-2 .info span{
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.Contact .container .box-2 .info .text{
    color: rgba(255, 255, 255, 0.7);
}
/* End contact */
/* Star Footer */
/* Statr Dark Mode */
.dark footer{
    background-color: #161616;
    background: linear-gradient(145deg, #161616, #161616);
}
.dark footer .info h3{
    color: #97a2de;
}
.dark footer .info p{
    color: #d1d0d0;
}
.dark footer .info:nth-child(2) ul li{
    color: #d1d0d0;
}
.dark footer .info:nth-child(3) ul li{
    color: #d1d0d0;
}
.dark footer .info:nth-child(3) ul li a:hover{
    color: #97a2de;
}
.dark footer p.copyright{
    color: #eee;
}
/* End Dark Mode */
footer{
    background: linear-gradient(145deg, #e2e8ec, #ffffff);
    box-shadow: 5px 5px 15px #D1D9E6, -5px -5px 15px #ffffff;
    padding:20px;
}
footer .container{
    font-size:15px;
    line-height:24px;
    color:#737373;
    display: flex;
    justify-content: space-evenly;
}
@media (max-width: 767px){
    footer .container{
        flex-direction: column;
        text-align: center;
    }
}
footer .info{
    padding-top: 20px;
}
footer .info h3{
    color: #3f51b5;
    font-size: 24px;
    margin-bottom: 16px;
}
footer .info p{
    width: 300px;
    font-size: 17px;
}
@media (max-width: 415px){
    footer .info p{
        width: 200px;
    }
}
@media (max-width: 767px){
    footer .info p{
        margin: 0 auto;
    }
}
footer .info:nth-child(2) ul li{
    padding: 5px;
    font-size: 17px;
}
footer .info:nth-child(3) ul{
    display: flex;
    margin-bottom: 10px;
}
@media (max-width: 767px){
    footer .info:nth-child(3) ul{
        justify-content: center;
    }
}
footer .info:nth-child(3) ul li a{
    color:#737373;
    display: block;
    padding: 4px;
    font-size: 18px;
    margin-right: 20px;
}
footer .info:nth-child(3) ul li a:hover{
    color: #3f51b5;
}
footer p.copyright{
    margin: 40px 0 0;
    padding-top: 20px;
    text-align: center;
    border-top: 1px solid #cbcbcb;
    font-size: 18px;
}
@media (max-width: 767px){
    footer p.copyright{
        font-size: 12px;
    }
}
/* End Footer */
